<%- include('partials/head') %>

    <%- include('partials/nav') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <h1 class="display-1 text-center text-danger">Erro 404</h1>
                <p class="text-center lead">Not found page!</p>
            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>

<%- include('partials/footer') %>